img {
  max-width: 100%; }

@font-face {
  font-family: "SVN Gilroy";
  src: url("/libs/font-svn/SVN-Gilroy Regular.otf") format("otf"); }

.button-setkeo {
  background: linear-gradient(137.16deg, #FFFF42 -7.94%, #ED2409 103.85%);
  font-weight: 700;
  font-size: 14px;
  line-height: 22px; }

.slide-bestchoice .swiper-slide {
  width: auto; }

@tailwind base;
@tailwind components;
@tailwind utilities;
